.colonne{
    float: left;
    width: 33.33%;
    padding: 5px;
    display: table-cell;
    text-align: center;
   
}

.ligne::after{
    content: "";
    clear: both;
    display: table;
}

*{
    box-sizing: border-box;
}

.ligne,.ligne>.colonne{
    padding: 8px;
}

.dedans{
    background-color: white;
    padding: 40px;
    border-radius: 6px;
    text-align: center;
   
    
    
}
.ligne{
    margin: 8px -16px;
    display: table;
    width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #760001;
}

li
{
    float: left;

}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
