body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1350px;
    
}

section h1, footer h1
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

 ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #760001;
}

li
{
    float: left;

}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.active{
    background-color: #181818;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 100px;
    height: 120px;
}


.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

div#content div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #760001;
}
div#content div.row{
    
    vertical-align: top;
    text-align: left;
    margin: 0 auto;
    border-radius: 5px;
}

div#content div.thumbnail{

    margin: 0 auto;
    text-align: justify;
    vertical-align: top;
    border-radius: 5px;
    

}



div#content div h1,p, iframe{
    margin: 20px;
}
footer
{
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}