body
{
   
    background-image: url("img/font.jpg");
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1350px;
    
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url("img/separateur.png") repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}



nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 0px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 0px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 100px;
    height: 120px;
}

div#banniere_image
{
    margin-top: 0px;
    height: 250px;
    border-radius: 5px;
    background-image:url("img/arm.jpg");
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url("img/fond_degraderouge.png") repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    display : inline-block;
    vertical-align : top;
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
    float: left;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    float: right;
    margin-right: 100px;
    
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left:-12px;
    
    
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

div#content div{
    display: inline-block;
    width: 50%;
}
div#content div.row{
    
    vertical-align: top;
    text-align: justify;
}

div#content div.thumbnail{
    

}

div#content div h1,p, iframe{
    margin: 20px;
}
footer
{
    text-align: right;
}