div#contenu
{
    background:pink;
    margin-top: 20px;
    height: 700px;
    width: 500px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    text-align: justify;
}

.form .login{
    max-width: 360px;
    z-index: 1;
    position: relative;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    background: rgb(58, 142, 190);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2) , 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

div#container{
    width : 300px;
    height: 280px;
    margin-top: 5%;
    margin: 20px auto 0;
    border: 1px solid #42464b;
    border-radius: 6px;

    
}

input[type = text], input[type=date] , input[type=email]{
    width: 90%;;
    padding: 12px 20px;
    margin: 8px 8px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input [type = submit]{
    background-color: #1c1a19;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}



#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.form .message a {
    color :black;
    text-decoration: none;
}

.form .message{
    margin: 15px 0 0;
    color: orange;
    font-size: 12px;
}